# Google Apps Script 部署後的網頁應用程式網址
# 格式範例: https://script.google.com/macros/s/XXXXX/exec
VITE_GOOGLE_APP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwYZxjKwm6YK4G0auFUtoQ6i0z22GA0touzv7JbGfTg5YXG5JF9QD9xH45B45sAt0z0/exec

