# Google Apps Script 部署後的網頁應用程式網址
# 格式範例: https://script.google.com/macros/s/XXXXX/exec
VITE_GOOGLE_APP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxtXEAG4Uamp4Tzc3WvTBYzLd6Q9yd6gUIffIJyv6rlXVXV-0fazFD0KiI5Ea3cZlsr/exec

